.post-div{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    width: 40vw;
    border-radius: 4px;
    box-shadow: 3px 3px 6px #ccc;
}
.post-upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px inset #f7f7f7;
}
.post-main{
    word-wrap: break-word;
    padding: 15px 0;
    border-bottom: 1px inset #f7f7f7;
}
.post-main span{
    color: #585858;
    letter-spacing: 0.5px;
    font-family: 'Baloo Tamma 2', cursive;
}
.post-catagories{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}
.post-catagories li{
    list-style-type: none;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 5px;
    background-color: #F8FAFB;
    color: #7e7e7e;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Baloo Tamma 2', cursive;
    font-style: italic;
}
.post-user-name{
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 0.9rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
    padding: 0 5px;
}
.dropdown-content a{
    text-decoration: none;
    padding: 10px 0px;
    border-bottom: 1px inset #f7f7f7;
    color: #585858;
}
.dropdown-content a:hover{
    color: #27ad6a;
}
.post-menu{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.post-menu:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
@media only screen and ( max-width: 1200px ){
    .post-div{
        width: 60vw;
    }
}
@media only screen and ( max-width: 1000px ){
    .post-div{
        width: 70vw;
    }
}
@media only screen and ( max-width: 750px ){
    .post-div{
        width: 80vw;
    }
}
@media only screen and ( max-width: 450px ){
    .post-div{
        width: 90vw;
    }
}
